/*  Background  */
body {
  background-color: #202020;
}

/*  Main text color */
.tl_article .tl_article_content, .tl_article .tl_article_content .ql-editor * {
  color: #f3f4f8;
}

.tl_article h1, .tl_article h2, .tl_article .tl_article_content, .tl_article .tl_article_content {
  color: #79828B;
}

/*  The color of the side of the text */
.tl_article.tl_article_edit.title_focused [data-label]:after {
  color: #f3f4f8;
}

/*  The publish and edit button  */
.tl_article_edit .publish_button, .tl_article_saving .publish_button, .tl_article .share_button, .tl_article_editable .edit_button {
  color: white;
  background-color: #404040;
}